body {
    background: linear-gradient(#a770ef, #cf8bf3, #fdb99b);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4 {
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    line-height: 1.25;
}

h1 {
    font-size: 3rem;
}

.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

main {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
    width: 100vh;
    min-height: 50vh;
    padding: 60px;
}

#value {
    font-size: 6rem;
    font-weight: bold;
}

.btn {
    text-transform: uppercase;
    background: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    border: 2px solid #000;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0,0,0,0.2);
    margin: 0.5rem;
}

.circle1, .circle2 {
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    height: 220px;
    width: 220px;
    position: absolute;
    border-radius: 220px;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 15%;
}

